A:link { COLOR: #000099; TEXT-DECORATION: none }
A:visited { COLOR: #000099; TEXT-DECORATION: none }
A:active { COLOR: #000099; TEXT-DECORATION: none }
A:hover { COLOR: #FFA652; TEXT-DECORATION: none }
